body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region header */
.pade-header .container {
  display: flex;
  align-items: center;
}
.pade-header {
  justify-content: space-between;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  color: #4d5ae5;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 76px;
}
.logo .studio {
  color: #2e2f42;
}
.header-nav {
  display: flex;
}

.nav-link {
  display: flex;
  gap: 40px;
  margin-right: 332px;
  padding: 24px 0;
  align-items: center;
}

.nav-link .link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link .link:hover,
.nav-link .link:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  gap: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.address-list .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  display: flex;
  align-items: center;
}
.address-list .link:hover,
.address-list .link:focus {
  color: #404bbf;
}

/* #endregion */
.hero-container {
  padding-top: 208px;
  padding-bottom: 188px;
}
.hero {
  background-color: #2e2f42;
}
.hero .title {
  width: 496px;
  margin-bottom: (calc(104 - 56));
  margin-left: 316px;
  margin-right: 316px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.butt {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}
.butt:hover,
.butt:focus {
  background-color: #404bbf;
}
.section-two .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-three {
  background-color: #f4f4fd;
  text-transform: capitalize;
}
.section-three .box {
  background-color: #ffffff;
}
.section-three .title-main {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-three .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-three .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.section-four .title-main {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-four .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-four .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer .studio {
  color: #f4f4fd;
}
.footer .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
